# mac dot report

{% for item in csv_data %}
{% if loop.first or item.cat_1_cf != loop.previtem.cat_1_cf %}

### {{ item.cat_1_name_cf }}
{% endif %}

{% if loop.first or item.cat_2_cf != loop.previtem.cat_2_cf %}
#### {{ item.cat_1_cf }}: {{ item.cat_2_cf }}
{% endif %}

- {% if item.item_type == 'folder' %}**{{ item.item_name }}{% if item.comment_cf %} | {{ item.comment_cf.strip() }}{% endif %} (ƒ)**{% else %}{{ item.item_name }}{% if item.comment_cf %} | {{ item.comment_cf.strip() }}{% endif %}{% endif %}
{% endfor %}

---  

### Unmatched Items

#### _Items not in Template (but in Home Folder)_
{% for item in fs_not_in_di %}
- {{ item.item_name }}{% if item.item_type == 'folder' %} (ƒ){% endif %}
{% endfor %}

#### _Items not in Home Folder (but in Template)_

{% for item in di_not_in_fs %}

- {{ item.item_name }}{% if item.cf_comment %} | {{ item.cf_comment.strip() }}{% endif %}{% if item.item_type == 'folder' %} (ƒ){% endif %}
{% endfor %}